* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.profileNav {
    font-size: 20px;
    background: #619bfe;
    display: inline-block;
    height: 93.2vh;

    li {
        padding: 40px;

        a {
            color: #333;
        }
    }
}

section {
    /* display: inline-block; */
}