* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  background: linear-gradient(to right, #619bfe, #649EFF, );
  font-size: 30px;

  .liComponent {
    padding: 20px;
    color: #333;
    font-size: 20px;
  }
}

.LogBtn {
  color: black;
}